:root{
  --main-color: #04819E;
  --main-color2: #38B2CE;
  --main-color3: #60B9CE;
  --main-color4: #206676;
  --main-color5: #015367;
  --sub-color: #FF7F00;
  --sub-color2: #FF9F40;
  --sub-color3: #FFb873;
  --sub-color4: #BF7730;
  --sub-color5: #A65200;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  text-decoration: none;
}

#root{
  background: repeating-linear-gradient( var(--main-color3) 20%, var(--main-color) 38%, var(--main-color3) 63%);
}
